{% load markup %}
<div class="row hspace">
    <div class="span1">
        {% if object.get_link %}<a href="{{object.get_link}}">{% endif %}
            {% if object.img %}<img src="{{object.img.url}}">{% endif %}
        {% if object.get_link %}</a>{% endif %}
    </div>
    <div class="span5">
            {% if object.get_link %}<a href="{{object.get_link}}">{% endif %}
                <h3>{{object.title}}</h3>
            {% if object.get_link %}</a>{% endif %}
            {{object.description|markdown:"safe" }}
    </div>
</div>
