{% extends "cmsweb/base.html" %}
{% load menu_tags cms_tags %}
{% block base_title %}
    {% page_attribute "page_title" %}
{% endblock base_title %}
{% block body %}
    <style type="text/css">
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        margin-bottom: 10px;
        line-height: 1;
    }

    li {
        list-style-type: none;
    }

    ul {
        font-size: 22px;
    }

    ul ul {
        font-size: 18px;
    }

    ul ul ul {
        font-size: 15px;
    }

    #main_menu {
        margin-left: 0px;
    }

    .hspace {
        margin-bottom: 15px;
    }

    form ul.errorlist {
        margin: 0;
        padding: 0;
        font-size: 10px;
        color: red;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="span12">
                {% block header %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="span3">
                {% load menu_tags %}
                <ul id="main_menu">
                    {% show_menu 0 100 0 1 %}
                </ul>
                {% block left %}{% endblock %}
            </div>
            <div class="span6">
                {% block center %}{% endblock %}
            </div>
            <div class="span3">
                {% block right %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="span12">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock body %}
