<!DOCTYPE html>
{% load cms_tags menu_tags sekizai_tags %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block base_title %}{{base_title}}{% endblock %}</title>
{% block head %}{% endblock %}
<meta name="keywords" content="{% page_attribute "meta_keywords" %}">
<meta name="description" content="{% page_attribute "meta_description" %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Ondrej Sika, http://ondrejsika.com">
<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
{% render_block "css" %}
<script src="{{STATIC_URL}}bootstrap/js/jquery.js"></script>
</head>
<body>
{% cms_toolbar %}
{% block body %}{% endblock %}
<script src="{{STATIC_URL}}bootstrap/js/prettify.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-transition.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-alert.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-modal.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-dropdown.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-tab.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-tooltip.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-popover.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-button.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-collapse.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-carousel.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-typeahead.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-affix.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/application.js"></script>
{% render_block "js" %}
</body>
</html>